* {
    margin: 0;
    padding: 0; 
}
/*ELEMENTS*/
h4 {
    margin-left: 43%;
}

a {
    cursor: pointer;
    font-size: 4rem;
}
/*CLASSES*/

.brownBack {
    background-color: maroon;
}

.nail {
    border-radius: 100%;
    width: 0.6vw;
    height: 0.6vw;
}

.greyBack {
    background-color: sienna;
}

.ab {
    position: absolute;
}

.gold {
    color: gold;
}

.blackBack {
    background-color: black;
}

.corner {
    background-color: darkslategrey;
}

.black {
    color: black;
}

.lvlText {
    display: block;
    color: black;
    margin-top: 34%;
}

.lvl {
    background-color: green;
    border: 2px solid black;
    text-align: center;
}

.noDec {
    text-decoration: none;
}

.center {
    text-align: center;
}
/*IDS*/
#rightArrow {
    margin-left: 95vw;
    margin-top: 48.5vh;
    width: 5vw;
}

#leftArrow {
    margin-left: 0;
    margin-top: 48.5vh;
    width: 5vw;
}       

#con {
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 49.5% 49.5%;
}

#topBar {
    width: 90vw;
    height: 1.1vw;
}

#leftBar {
    width: 1.1vw;
    height: 37.8vw;
}

#rightBar {
    width: 1.1vw;
    height: 37.8vw;
    margin-left: 88.9vw;
}

#bottomBar {
    width: 90vw;
    height: 1.1vw;
    margin-top: 36.6vw;     
}

#mainbody {
    display: flex;
    width: 90vw;
    height: 85vh;
    margin-left: 5vw;
    margin-top: 10vh;
}

#topLeft {
    width: 6vh;
    height: 6vh;
    border-bottom-right-radius: 80%;
    z-index: 199;
}

#bottomLeft {
    width: 6vh;
    height: 6vh;
    border-top-right-radius: 80%;
    z-index: 99;
    margin-top: 35.1vw;
}

#bottomRight {
    width: 6vh;
    height: 6vh;
    border-top-left-radius: 80%;
    z-index: 98;
    margin-left: 87.35vw;
    margin-top: 35.1vw;
}

#topRight {
    width: 6vh;
    height: 6vh;
    border-bottom-left-radius: 80%;
    z-index: 299;
    margin-left: 87.35vw;
}

#nail1 {
    margin-left: 70%;
    margin-top: 10%;
}

#nail2 {
    margin-left: 10%;
    margin-top: 70%;
}

#nail3 {
    margin-left: 10%;
    margin-top: 10%;    
}

#nail4 {
    margin-left: 10%;
    margin-top: 10%;
}

#nail5 {
    margin-left: 10%;
    margin-top: 70%;
}

#nail6 {
    margin-left: 70%;
    margin-top: 70%;
}

#nail7 {
    margin-left: 10%;
    margin-top: 10%;
}

#nail8 {
    margin-left: 70%;
    margin-top: 10%;
}

#nail9 {
    margin-left: 70%;
    margin-top: 70%;
}

#nail10 {
    margin-left: 70%;
    margin-top: 10%;
}

#nail11 {
    margin-left: 70%;
    margin-top: 70%;
}

#nail12 {
    margin-left: 10%;
    margin-top: 70%;
}

/*MISC*/