* {
    background-color: #635e5d;
    margin: 0;
    padding: 0;
}
.invis {
    display: none;
}

#con {
    display: grid;
    margin-left: 15%;
}

.Bblack {
    background-color: black;
}

.gold {
    color: gold;
}

nav {
    background-color: black;
    width: 10%;
    height: 100vh;
    text-align: center;
}

nav a, nav h1 {
    background-color: inherit;
    font-size: 1.5em;
}

main {
    display: flex;
}

hr {
    margin-top: 2px;
    height: 1px;
    background-color: red;
    border: none;
}

aside {
    background-color: black;
    width: 15%;
    margin-left: 16%;
    text-align: center;
}

aside button {
    width: 45%;
    height: 14%;
    font-size: 1.5rem;
}

img {
    background-color: inherit   ;
}

body {
    overflow: hidden;
}

button {
    background-color: white;
}

.noselect {
    user-select: none;
}

.select {
    background-color: green;
}

.mouse {
    cursor: pointer;
}

.green {
    background-color: green;
}

.dot {
    padding: 30%;
}

.red {
    background-color: red;
}

.nBor {
    border: 1px solid gold;
}