* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: black;
    width: 10vw;
    text-align: center;
    height: 100vh;
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gold {
    color: gold;
}

hr {
    margin-top: 1%;
    border-color: red;
}

a {
    text-decoration: none;
    font-size: larger;
}

.flex {
    display: flex;
}

.test {
    background-color: red !important;
}

.grid {
    display: grid;
}

.green {
    background-color: green;
}

#customers {
    height: 30vh;
    position: fixed;
    right: 0;
    width: 90%;
}

#con {
    margin-top: 29.3vh;
    margin-left: 9.9%;
    position: absolute;
}

.box {
    border: 2px solid black;
    display: inline-block;
    position: sticky;
    margin-top: 1vh;
    height: 90%;
}

#cust {
    width: 90%;
    height: inherit;
    position: fixed;
}

.pep {
    border: 2px solid black;
    text-align: center;
    width: 12%;

    height: inherit;
}

.pic {
    width: 30%;
}

.claim {
    width: 60%;
    background-color: yellow;
    margin-top: 30%;
    cursor: pointer;
    border-radius: 10px;
}

.noCheck {
    width: 1vh;
    height: 1vh;
    border: 1px solid black;
    background-color: red;
}

.check {
    width: 1vh;
    height: 1vh;
    border: 1px solid black;
    background-color: #2DFE54;
}

.templates {
    grid-template-columns: 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw;
    grid-template-rows: 9.4vh 9.4vh 9.4vh 9.4vh 9.4vh 9.4vh;
}

.two {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.border {
    border: 1px solid black;

}

.noDis {
    display: none;
}

.mwidth {
    max-width: 4.4vw;
}

.hei {
    height: 49%;
}

#products {
    top: 86.7%;
    width: auto;
    min-width: 89.5%;
    left: 10%;
    height: 13.1vh;
    overflow-x: scroll;
    position: fixed;
    display: flex;
}

.scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.food {
    min-width: 7%;
    text-align: center;
    height: 100%;
}

.foodPic {
    width: 60%;
    height: 45%;
}

.foodButton {
    background-color: yellow;
    border-radius: 10px;
}

.large {
    width: 85vw;
}

.green {
    background-color: #008000;
    width: 100%;
}

#butCon {
    width: 5%;
    height: 11%;
    position: fixed;
    right: 0;
    background-color: gray;
}

.switchButtons {
    height: 50%;
    width: 90%;
}

.cropImage {
    width: inherit;
    height: inherit;
}

body::-webkit-scrollbar {
    display: none;
}

#products::-webkit-scrollbar {
    display: none;
}

.locked {
    background-color: gray !important;
}

.nav::-webkit-scrollbar {
    display: none;
}

#lvlprog {
    width: 90%;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
}