* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: darkslategray;
}

nav {
    background-color: darkgray;
    width: 100vw;
    height: 5vh;
    display: flex;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    border: 2px solid black;
    background-color: darkgray;
    border-radius: 20%;
    width: 20vw;
    height: 20vh;
    display: block;
    position: absolute;
}

.textbox {
    position: relative;
    border: 1px solid black;
    width: 25vw;
    height: 73vh;
    margin-top: 10vh;
    background-color: gray;
    margin-left: 5vw;
    justify-content: center;
}

.navbox {
    border: 2px solid black;
    width: 20vw;
    height: 5vh;
    text-align: center;
    padding-top: 0.8vh;
}

#render {
    margin-top: 25vh;
    margin-left: 25vw; 
}

#camera {
    margin-left: 25vw;
    margin-top: 60vh;
}

#physics {
    margin-left: 50vw;
    margin-top: 25vh;
}

#troll {
    margin-left: 50vw;
    margin-top: 60vh;
}

nav p {
    margin-left: 50;
}

#render p {
    margin-top: 8vh;
    margin-left: 26%;

}

#camera p {
    margin-top: 8vh;
    margin-left: 18%;
}

#physics p {
    margin-top: 8vh;
    margin-left: 18%;
}

#troll p {
    margin-top: 8vh;
    margin-left: 40%;
}

.box:hover {
    background-color: red;
}

.textbox h2 {
    display: block;   
    width: inherit;
    text-align: center;
    height: fit-content;
}

.textbox p {
    color: gold;
    display: block;
    width: inherit;
    text-align: center;
    height: fit-content;
}